.wrapper {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin: 0 auto;
  margin-top: 150px;
}
.item {
  background: #dcdcdc;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
button {
  font-size: 22px;
}
